.navbar{
    padding-top: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav_list{
    gap: 30px;
    margin-left: 12em;
}

.logo{
    color: red;
    font-size: 0.9em;
}
.nav_list li a{
/* color: rgb(255, 255, 255); */
/* background-color: white; */
color: rgb(255, 255, 255) !important;
border: 2px solid rgb(245, 0, 0);
border-top: none;
border-left: none;
border-right: none;
font-size: 0.7em;
transition: 0.5s;

}

.nav_list li a:hover{
    color: rgb(255, 0, 0) !important;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1em;
}


.btn_log{
    background-color: red;
    color: white;
    border: 2px solid red;
    
    /* background-color: white;  */
    border-radius: 3px;
    margin-right: 2em;
    font-weight: bold;
    padding: 3px 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
    }
    .btn_log:hover{
        background-color: black;
    border: 2px solid white;
    
        color: white;
    
    
    }


    .logo_heading{
        color: white;
        font-size: 2.5em;
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }
    
    .logo_heading:hover{
        color: white;
    }

    .img_top{
        width: 100%;
    }
    .img_top img{
        width: 100%;
       max-height: 28em;
    }

    body{
        background-image: url("https://www.shutterstock.com/image-photo/old-wood-table-top-smoke-600nw-1349933471.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: arial;
        box-sizing: border-box;
    }

    .card-container{
        width: 300px;
        height: 430px;
        background: #FFF;
        border-radius: 6px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 1px 10px 1px #000;
        overflow: hidden;
        display: inline-block;
    }
    .upper-container{
        height: 150px;
        background: black;
    }
    .image-container{
        background: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 5px;
        transform: translate(100px,100px);
    }
    .image-container img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: -5px;
        margin-left: -5px;
    }
    .lower-container{
        height: 280px;
        background: #FFF;
        padding: 20px;
        padding-top: 40px;
        text-align: center;
    }
    .lower-container h3, h4{
        box-sizing: border-box;
        line-height: .6;
        font-weight: lighter;
    }
    .lower-container h4{
        color:  black;
        opacity: .6;
        font-weight: bold;
    }
    .lower-container p{
        font-size: 16px;
        color: brown;
        margin-bottom: 30px;
    }
    .lower-container .btn{
        padding: 12px 20px;
        background: red;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s ease-in;
    }
    .lower-container .btn:hover{
        background: transparent;
        color: red;
        border: 2px solid red;
    }
    